<%- include("partial/header.ejs") %>

 <h1><%=title%></h1>
 <p><%=content%></p>
   
 <p></p>
 <div class="submit">
     <a href="/journal"><button type="submit" class="btn btn-primary">Back to journals</button></a>
  </div>


<%- include("partial/footer.ejs") %>